<main class="page">
    <div class="page_content">

        <header>
            {{> headerDark data=this}}
        </header>

        <div class="hero">
            {{#with hero}}
            <h2 class="hero_title">{{title}}</h2>
            <p class="hero_text">{{description}}</p>
            {{#with button}}
            <div class="hero_button">
                <a href="{{url}}" class="button">{{text}}</a>
            </div>
            {{/with}}
            {{/with}}
        </div>

        <div class="about">
            {{#with about}}
            <h4 class="about_title">{{heading}}</h4>
            <p class="about_info">{{info}}</p>
            {{/with}}
        </div>

        <div class="articles">
            <div class="articles_header">
                <h2 class="articles_title">Our Articles</h2>
                <a class="button_title">View All</a>
            </div>


            <div class="articles_general-block">
                {{#each articles}}
                <div class="articles_block">
                    {{> articleCardDark data=this}}
                </div>
                {{/each}}
            </div>
        </div>

        <footer class="footer_blog">
            {{> footerDark data=this}}
        </footer>

    </div>
</main>