{{#with data}}
<div class="featured">
    <img src="{{photo}}" alt="image" class="featured_img">
    <h2 class="featured_title">{{heading}}</h2>
    <p class="featured_text">{{info}}</p>
    <a href="{{linkUrl}}" class="featured_button">{{linkText}}</a>
</div>
{{/with}}